<header>
<div class="transbox"></div>
	<a class="home" href="brand.html">
       <img class="logo" alt="logo" src="https://github.com/tesheg586/tesheg586.github.io-web250/blob/master/images/mybrand.jpg" width= "200px" height= "180px"/>	
	 <h1>Easy and Effective Kids Learning</h1>  
	<div class = "topnav">
            <a href="https://github.com/tesheg586/tesheg586.github.io-web250/blob/master/brand.html">brand </a>
           <a href="https://github.com/tesheg586/tesheg586.github.io-web250/blob/master/introduction.html">introduction</a>
			
         <a href="https://github.com/tesheg586/tesheg586.github.io-web250/blob/master/contract.html">contract </a>
			
		        
	</div><br>	 

</header>
