<footer>
      <div class="bottomnav">
      <a id="webs" href="https://github.com/tesheg586/tesheg586.github.io-web250/" target="_blank">Webspace</a> 
      <a id="git" href="https://github.com/tesheg586" target="_blank">Github</a>
      <a id="githubsite" href="https://github.com/tesheg586/Web250">Github Pages</a>
      <a id="Linkedin" href="https://www.linkedin.com/in/teshale-wossoro-15b114196/" target="_blank">LinkedIn</a>
      <a id="freecode" href="https://www.freeCodeCamp.org/teshale">freeCodeCamp</a>
      <a id="codcdamy" href="https://www.codeCademy.com/profiles/teshalewossoro9288099833" target="_blank">codeCademy</a>
      <a id="youtube" href="https://www.youTube.com/channel/UCqFoYoF7eVKi7JZuNBxeJQA/" target="_blank">youtube</a> 
    </div> 
  </br>
 	 <a href="http://validator.w3.org/check?uri=referer">
                <img src="images/valid_html5.gif" alt="Valid HTML5" 
                height="31" width="88" style="border:0px;" />
</a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px"
                src="images/css-validator.gif"
                alt="https://github.com/tesheg586/tesheg586.github.io-web250/blob/master/images/css-validator.gif" />
       </a> 
      <p>Page designed by Easy and Effective Kids' Learning &copy;2021</p>    
</footer>
</body>
</html>  
