<header>
	<a class="home" href="brand.html">
       <img class="logo" alt="logo" src="images/mybrand.jpg" width= "180px" height= "160px"/>	
   <h1>Easy and Effective Kids Learning</h1>  
<div class = "topnav">
            
           <a href="index.html">WEB250 home</a>
           <a href="introduction.html">introduction</a>  
	       <a href="contract.html">contract</a>
           <a href="brand.html">brand</a>
	 <a href="https://tesheg586.github.io/web250/fizzbuzz.html">fizzBuzz</a> 
	
	
	
	
</div><br> 

</header>
