body { background-color: #ADD8E6;
  color: #351111;
font-family: helvetica;
font-size: 20px
}

header {background-color: #FFF8DC;
   padding: 40px;
   text-align: center;
color: #351111;

}

main { padding: 20px;}

footer {  position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
 text-align: center; }