
body {
	font-family: 'Philosopher', sans-serif;
	font-size: 1.3em;
	color: (27, 25, 25);
	background-color: rgb(184, 179, 179);
	height: 40px;
	min-width:250px;
	width:100%;

}

main {
	display:inline-block;
	margin: 20px 0 20px ;
	min-height: 300px;
	height: auto;
	position: relative;
	padding: 0 30px;
}


h1, h2, h3, h4, h5 {
 color : gray(100, 98, 98);
	text-align: center;
	font-family: 'Mogra', cursive;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	margin-top: 10px;
}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
div.figure {

 
  text-align: left;
  font-style: italic;
  font-size: smaller;
  
}




.topnav {
     background-color : hidden;
     overflow : hidden;
    text-align: left;
}
.topnav a {
     display : inline-block;
     color : hidden;
     text-align : center;
     padding : 14px 16px;
     text-decoration : none;
     font-size : 16px;
}
.topnav a:hover {
    background-color : hidden;
    color : rgb(95, 135, 209);
    text-align : center;
